.popup__info {
  width: 100%;
  border: none;
  padding-bottom: 13px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-family: 'inherit';
}

.popup__info:last-of-type {
  margin-bottom: 0;
}