.form-empty__container {
    position: relative;
    background-color: #FFFFFF;
    max-width: 430px;
    width: 36%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    margin: 15% auto;
}

@media all and (max-width: 630px) {
    .form-empty__container {
        min-width: 274px;
        padding: 21px 17px;
        margin: 49% auto;
    }
}