.image-popup__close-icon {
    background-image: url(../../../images/close-icon.svg);
    border: none;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    padding: 0;
    cursor: pointer;
    opacity: 0.6;
}