.page {
  font-family: 'inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  max-width: 1280px;
  min-width: 300px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}



.header {
  max-width: 1280px;
  margin: 45px 15% 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: 630px) {
  .header {
    max-width: 630px;
    margin: 28px 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media all and (max-width: 630px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 21px;
    margin-bottom: 31px;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 15% 50px;
}

@media all and (max-width: 950px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 19px 36px;
    align-items: center;
  }
}


@media all and (max-width: 630px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 19px 36px;
    align-items: center;
  }
}

.profile__kusto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: auto;
}

@media all and (max-width: 950px) {
  .profile__info {
    margin: 20px auto 20px;
  }
}


@media all and (max-width: 630px) {
  .profile__info {
margin: 26px 0 36px;
  }
}


.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

@media all and (max-width: 630px) {
  .profile__title {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media all and (max-width: 630px) {
  .profile__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}


.elements {
  margin: 0 15% 66px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
}

@media all and (max-width: 1200px) {
  .elements {
    margin: 0 19px 49px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}


@media all and (max-width: 630px) {
  .elements {
    margin: 0 19px 49px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}



.element {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 282px;
  height: 361px;
  position: relative;
}

@media all and (max-width: 630px) {
  .element {

  }
}

.element__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__card {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 70px;
  align-items: center;
}

.footer {
  margin: 0 15% 60px;
}

@media all and (max-width: 630px) {
  .footer {
    margin: 0 19px 36px;
  }
}



.footer__autor {
  margin: 0;
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media all and (max-width: 630px) {
  .footer__autor {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__edit-button {
  background: url(../../images/edit-button.svg) no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 20px;
  cursor: pointer;
}

@media all and (max-width: 630px) {
  .profile__edit-button {
    margin-left: 10px;
    background-size: cover;
    height: 18px;
    width: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__record {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

@media all and (max-width: 630px) {
  .profile__record {
    margin-bottom: 14px;
  }
}

.profile__add-button {
  background: url(../../images/add-button.png) no-repeat;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

@media all and (max-width: 630px) {
  .profile__add-button {
    background: url(../../images/add-button-mobil.png) no-repeat;
    background-size: contain;
    width: 282px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}

.element__like {
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background: url(../../images/black-like.png) no-repeat;
  width: 22px;
  height: 19px;
}

.element__img {

}
