.form-empty {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.form-empty__info_profile_naming::placeholder {
    color: #C4C4C4;
}

.form-empty__info_profile_link::placeholder {
    color: #C4C4C4;
}