@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/container/container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__record/profile__record.css);
@import url(../blocks/profile/__delete/profile__delete.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__card/element__card.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__img/element__img.css);
@import url(../blocks/element/__img-block/element__img-block.css);
@import url(../blocks/element/__button-active/element__button-active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_invalid/popup__button_invalid.css);
@import url(../blocks/popup/__data/popup__data.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/form-add-card/form-add-card.css);
@import url(../blocks/form-add-card/__button/form-add-card__button.css);
@import url(../blocks/form-add-card/__button/_invalid/form-add-card__button_invalid.css);
@import url(../blocks/form-add-card/__close-icon/form-add-card__close-icon.css);
@import url(../blocks/form-add-card/__container/form-add-card__container.css);
@import url(../blocks/form-add-card/__data/form-add-card__data.css);
@import url(../blocks/form-add-card/__field/form-add-card__field.css);
@import url(../blocks/form-add-card/__title/form-add-card__title.css);
@import url(../blocks/form-add-card/__error/form-add-card__error.css);
@import url(../blocks/image-popup/image-popup.css);
@import url(../blocks/image-popup/__close-icon/image-popup__close-icon.css);
@import url(../blocks/image-popup/__title/image-popup__title.css);
@import url(../blocks/image-popup/__img/image-popup__img.css);
@import url(../blocks/image-popup/__container/image-popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);









