.form-empty__button {
    width: 100%;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    padding: 0;
}

.form-empty__button:hover {
    cursor: pointer;
    opacity: 0.8;
}